button.square-button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: dodgerblue;
    color: white;
    border: solid 1px black;
    font-size: 18pt;
    line-height: 10px;
}

button.square-button:disabled {
    background-color: rgb(199, 197, 197);
}

input.ingredient-amount {
    width: 80px;
}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

div.drink-div {
    border-radius: 5px;
    border: solid 1px lightslategray;
    padding: 5px;
    margin-bottom: 10px;
}

div.drink-div h4 {
    text-align: center;
}

div.drink-div table {
    margin-left: 30px;
}

div.drink-div p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

td.amount-header {
    width: 60px;
}
