button.square-button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(251, 177, 19);
    color: white;
    border: solid 1px black;
    font-size: 18pt;
    line-height: 10px;
}

button.square-button:disabled {
    background-color: rgb(197, 114, 41);
}

input.ingredient-amount {
    width: 80px;
}

#drop_zone {
    border: 5px solid rgb(251, 177, 19);
    width: 200px;
    height: 100px;
}

div.drink-div {
    border-radius: 5px;
    border: solid 1px lightslategray;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(251, 177, 19);
    color: white;
}

div.drink-div h4 {
    text-align: center;
    color: rgb(197, 114, 41);
}

div.drink-div table {
    margin-left: 30px;
}

div.drink-div p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

td.amount-header {
    width: 60px;
}

div.jumbotron {
    background-color: rgb(251, 177, 19);
    color: rgb(197, 114, 41);
    padding-left: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

select {
    background-color: rgb(251, 177, 19);
    color: white;
    border-radius: 5px;
}