button.square-button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(251, 177, 19);
    color: white;
    border: solid 1px rgb(172, 96, 25);
    font-size: 18pt;
    line-height: 10px;
}

button.square-button:disabled {
    background-color: rgb(197, 114, 41);
}

input.ingredient-amount {
    width: 80px;
}

#drop_zone {
    border: 5px solid rgb(251, 177, 19);
    width: 200px;
    height: 100px;
}

div.drink-div {
    border-radius: 5px;
    border: solid 2px rgb(172, 96, 25);
    padding: 5px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(251, 177, 19);
    color: white;
}

div.drink-div h4 {
    text-align: center;
    color: rgb(197, 114, 41);
}

div.drink-div table {
    margin-left: 30px;
}

div.drink-div p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

td.amount-header {
    width: 60px;
}

div.jumbotron {
    background-color: rgb(251, 177, 19);
    color: rgb(197, 114, 41);
    padding-left: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid rgb(172, 96, 25);
}

select {
    background-color: rgb(251, 177, 19);
    color: white;
    border-radius: 5px;
    border-color: rgb(172, 96, 25);
    width: 200px;
    height: 40px;
    text-align: center;
}

div.container-fluid {
    background-color: rgb(250, 226, 176);
    color: rgb(172, 96, 25);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    background-color: rgb(250, 226, 176)
}

input[type="submit"] {
    background-color: rgb(251, 177, 19);
    border: 1px solid rgb(172, 96, 25);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

input[type="text"], textarea {
    background-color: rgb(250, 226, 176);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(172, 96, 25);
    border: 2px solid rgb(172, 96, 25);
    border-radius: 5px;
}

h3, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}